<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>
  <%- include('./partials/head.ejs') %>
</head>

<body class="bg-dark-subtle">
  <%- include('./partials/navbar.ejs') %>

  <%- include('./partials/brands/modals/update.ejs') %>
  <%- include('./partials/brands/modals/delete.ejs') %>
  <%- include('./partials/brands/modals/post.ejs') %>

  <div class="table-responsive m-auto" style="max-width: 1500px;">
    <%- include('./partials/location.ejs', {subtitle: 'Brands Management', icon: 'bi-tag-fill'}) %>
    <%- include('./partials/tableHeader.ejs', {target: 'brand'}) %>
    <table class="table table-sm table-bordered table-dark table-striped text-center" id="brands-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Brand</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <% if(brands.length === 0){ %>
        <tr>
          <td colspan="100%">No brands found</td>
        </tr>
        <% } else{ %>
        <% brands.forEach(brand => { %>
        <tr id="brand" data-brand-id="<%= brand.id%>" data-brand-name="<%= brand.name %>">
          <td class="col-1"><%- brand.id %></td>
          <td class="col-1"><%- brand.name %></td>
          <td class="col-1">
            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#brand-update-modal" id="edit-btn"><i class="bi bi-pencil-square"></i></button>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#brand-delete-modal" id="delete-btn"><i class="bi bi-trash-fill"></i></button>
          </td>
        </tr>
        <% })%>
        <% } %>
      </tbody>
    </table>
  </div>

  <%- include('./partials/alerts/clientAlertMessages.ejs') %>
  <%- include('./partials/bootstrapScripts.ejs') %>
  <script src="/javascripts/brands.js" type="module"></script>
  <script src="/javascripts/alerts.js"></script>
</body>

</html>