<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>
  <%- include('./partials/head.ejs') %>
</head>

<body class="bg-dark-subtle">
  <%- include('./partials/navbar.ejs') %>
  <%- include('./partials/location.ejs', {subtitle: 'Orders Management', icon: 'bi-bag-check-fill'}) %>

  <div class="p-3 mt-2 container-fluid">
    <%- include('./partials/tableHeader.ejs', {target: null}) %>
    <%- include('./partials/orders/modals/update.ejs') %>

    <table class="table table-bordered table-dark table-striped text-center">
      <thead>
        <tr>
          <th class="col-1">Order ID</th>
          <th class="col-1">User ID</th>
          <th class="col-1">Ordernumber</th>
          <th class="col-1">Status</th>
          <th class="col-1">Membership</th>
          <th class="col-1">Created At</th>
          <th class="col-1">Updated At</th>
          <th class="col-1">Options</th>
        </tr>
      </thead>
      <tbody>
        <% if(orders.length === 0){ %>
        <td colspan="100%">No orders found</td>
        <% } else { %>
        <% orders.forEach(order => { %>
        <tr class="text-center align-content-center w-100 align-baseline" data-order-id="<%= order.id %>" data-order-number="<%= order.ordernumber%>" data-order-status="<%= order.status %>" data-order-status-id="<%= order.StatusId  %>"">
          <td class=" col-1"><%- order.id %></td>
          <td class=" col-1"><%- order.UserId %></td>
          <td class="col-1"><a href="orders/details/<%= order.ordernumber %>" class="link link-light"><%= order.ordernumber%></a></td>
          <td class="col-1"><span class="badge <%= order.StatusId == 1 ? 'bg-danger' : order.StatusId == 2 ? 'bg-primary' : 'bg-success' %>"><%- order.status %></span></td>
          <td class="col-1">
            <span class="badge <%= order.membership === 'Bronze' ? 'bg-danger' : order.membership === 'Silver' ? 'bg-secondary' : 'bg-warning' %>"><%- order.membership %><span/>
          </td>
          <td class="col-1 created-at" id="created-at"><%- order.createdAt %></td>
          <td class="col-1 updated-at" id="updated-at"><%- order.updatedAt %></td>
          <td class="col-1">
            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#order-update-modal" id="edit-btn"><i class="bi bi-pencil-square"></i></button>
          </td>
        </tr>
        <% })%>
        <% } %>
      </tbody>
    </table>
  </div>
  <%- include('./partials/alerts/clientAlertMessages.ejs') %>
  <%- include('./partials/bootstrapScripts.ejs') %>
  <script src="/javascripts/orders.js" type="module"></script>
  <script src="/javascripts/alerts.js"></script>
</body>

</html>