<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>
  <%- include('./partials/head.ejs') %>
</head>

<body class="bg-dark-subtle">
  <%- include('./partials/navbar.ejs') %>
  <%- include('./partials/users/modals/update.ejs') %>
  <div class="table-responsive m-auto" style="max-width: 1500px; font-size: 0.7rem;">
    <%- include('./partials/location.ejs', {subtitle: 'Users Management', icon: 'bi-people-fill'}) %>
    <%- include('./partials/tableHeader.ejs', {target: null}) %>
    <table class="table table-sm table-bordered table-dark table-striped text-center">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th class="d-none d-lg-table-cell">Firstname</th>
          <th class="d-none d-lg-table-cell">Lastname</th>
          <th class="d-none d-lg-table-cell">Email</th>
          <th class="d-none d-lg-table-cell">Phone</th>
          <th class="d-none d-lg-table-cell">Address</th>
          <th>Role</th>
          <th>Membership</th>
          <th class="d-none d-lg-table-cell">Created At</th>
          <th class="d-none d-lg-table-cell">Updated At</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <% if(users.length === 0){ %>
        <tr class="align-content-center w-100 align-baseline">
          <td colspan="100%">No users found</td>
        </tr>
        <% } else { %>
        <% users.forEach(user => { %>
        <tr class="align-content-center w-100 align-baseline" data-username="<%= user.username %>" data-email="<%= user.email %>" data-firstname="<%= user.firstname %>"
            data-lastname="<%= user.lastname %>" data-address="<%= user.address %>" data-phone="<%= user.phone %>" data-user-id="<%= user.id %>" data-role-id="<%= user.RoleId %>"
            data-role-name="<%= user.role%>">
          <td class="col-1"><%- user.id %></td>
          <td class="col-1"><%- user.username %></td>
          <td class="col-1 d-none d-lg-table-cell"><%- user.firstname %></td>
          <td class="col-1 d-none d-lg-table-cell"><%- user.lastname %></td>
          <td class="col-1 d-none d-lg-table-cell"><%- user.email %></td>
          <td class="col-1 d-none d-lg-table-cell"><%- user.phone %></td>
          <td class="col-1 d-none d-lg-table-cell"><%- user.address %></td>
          <td class="col-1"><span class="badge <%= user.role === 'Admin' ? 'bg-primary' : 'bg-danger'%>"><%- user.role %></span></td>
          <td class="col-1"><span class="badge  <%= user.membership === 'Bronze' ? 'bg-danger' : user.membership === 'Silver' ? 'bg-secondary' : 'bg-warning' %>"><%- user.membership %></span></td>
          <td class="col-1 d-none d-lg-table-cell"><%- user.createdAt%></td>
          <td class="col-1 d-none d-lg-table-cell"><%- user.updatedAt%></td>
          <td class="col-1">
            <button class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#user-update-modal" id="edit-btn"><i class="bi bi-pencil-square"></i></button>
          </td>
        </tr>
        <% })%>
        <% } %>
      </tbody>
    </table>
  </div>
  <%- include('./partials/alerts/clientAlertMessages.ejs') %>
  <%- include('./partials/bootstrapScripts.ejs') %>
  <script src="/javascripts/users.js" type="module"></script>
</body>

</html>